.flex-group {
  height: 100%;
  width: 100%;
  display: flex;
}

.grid-group {
  display: grid;
  width: 40%;
  margin: 15% auto 0 auto;
  // padding: 2rem;
}
.white-background {
  // width: 70%;
  flex-grow: 1;
}
.gradient-background {
  width: 28%;
  height: 100%;
  background-image: url("/images/bg-main-desktop.png");
  background-size: cover;
  background-position: top;
}

.card {
  position: absolute;
  top: 16%;
  left: 10%;
}
.card__front {
  margin-bottom: 2rem;
}
.card__back {
  margin-left: 6rem;
}

.name-date-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.55rem;
}
