/* LAYOUT */
.main {
  margin: auto;
  height: 95%;
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  background-image: url(/images/bg-main-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
}
.card {
  min-height: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;

  &__front {
    background-image: url(/images/bg-card-front.png);
    border-radius: 10px;
    align-self: start;
    z-index: 1;
    margin-top: -25%;
  }
  &__back {
    background-image: url(/images/bg-card-back.png);
    align-self: end;
    margin-top: 18%;
  }
}
.card-size {
  width: 80%;
  height: calc(80% / 1.82); /* Aspect ratio of 1.82:1 */
  padding-bottom: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__table {
    width: 80%;
    height: 90%;
    margin: 1rem auto;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .main {
    background-image: url(/images/bg-main-desktop.png);
    background-position: left;
    background-repeat: no-repeat;
    max-width: 483px;
    max-height: 900px;

    flex-direction: row;
    align-items: center;
    height: 80%;
    width: 95%;
    max-width: none;
    margin: 2.5% auto;
    font-size: 1.4rem;
  }
  .card {
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;

    &__front {
      align-self: center;

      margin-top: 0;
    }
    &__back {
      align-self: center;
      margin-left: 25%;
      margin-top: 1.6rem;
    }
  }

  .card-size {
    max-width: 447px;
    height: calc(447px / 1.82);
    padding-top: 0;
    padding-bottom: 0;
  }

  .info {
    flex-grow: 1;
    max-width: 500px;
    max-height: 600px;

    &__table {
      width: 90%;
      height: 55%;
      margin: 5% auto;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.flex-row {
  display: flex;
}
.complete {
  margin-bottom: 5rem;
}
